.advantages {
  color: #FFFFFF;
  padding: 88px 0 114px;
  &__title {
    font-size: 42px;
    text-align: center;
  }

  &__list {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__image{
    width: 80px;
    height: 80px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
  }

  &__text {
    font-size: 18px;
    padding-bottom: 17px;
    line-height: 1;
  }

  &__link {
    text-decoration: none;
    color: $primary-color;
    font-size: 16px;
    font-weight: 100;
  }

  &__hand-right{
    padding-left: 9px;
  }
}