.button {
  margin: 0;
  //@include transition($default-transition);
  display: inline-block;
  border-radius: 22px;
  //border: none;
  background: $primary-color;
  color: #000;
  font-size: 15px;
  cursor: pointer;
  height: $default-input-height;
  line-height: $default-input-height;

  &_transparent {
    border: 1px solid #FFA513;
    background-color: $t;
    color: #fff;
  }

  &_expand, &_wide {
    width: 100%;
  }
}