.footer {
  background-color: #000;
  &__line {
    padding: 65px 0;
    display: flex;
    justify-content: space-between;
  }

  &__main {
    display: flex;
    justify-content: flex-start;
  }

  &__content {
    flex: 1 0 auto;
    margin-right: 180px;
  }

  &__content:last-child{
    margin-right: 0;
  }

  &__title {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 40px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: -6px 0;
  }

  &__menu-item {
    display: flex;
  }

  &__menu-link {
    font-size: 16px;
    text-decoration: none;
    color: #8A8A8A;
    padding: 8px 0;
  }

  &__feedback {
    margin: -7px 0;
  }

  &__phone {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #8A8A8A;
    padding: 7px 0;
    font-size: 17px;
    font-weight: 600;
  }

  &__mail {
    font-size: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #8A8A8A;
    padding: 7px 0;
  }

  &__icon{
    width: 28px;
    display: flex;
    align-items: center;
  }

  &__button {
    padding: 0 32px;
    margin-top: 24px;
  }

  &__logo {
    height: 120px;
  }

  &__logo-img {
    height: 115px;
    width: 129px;
  }
}