.header {
  background-color: black;
  height: $header-height;
  color: white;

  &__line {
    display: flex;
  }

  &__logo {
    position: relative;
    width: 215px;
  }

  &__logo-img {
    position: absolute;
    height: 100px;
  }

  &__data {
    flex: 1 1 auto;
    margin-left: 48px;
    position: relative;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    position: relative;
  }

  &__feedback {
    display: flex;
    align-items: center;
  }

  &__phone {
    text-decoration: none;
    font-size: 21px;
    color: white;
  }

  &__number{
    padding-left: 10px;
  }

  &__button {
    font-size: 15px;
    font-weight: 300;
    padding: 0 27px;
    text-decoration: none;
    color: white;
    margin-left: 36px;
    border: 1px solid #FFA513;
    border-radius: 22px;
  }

  &__cart {
    font-size: 16px;
    display: flex;
    align-items: center;
    border-left: 1px solid #353535;
    border-right: 1px solid #353535;
    padding-right: 8px;
    padding-left: 14px;
    height: $header-height;
  }

/*  &__cart::before, &__cart::after{
    content: '';
    height: $header-height;
    width: 1px;
    background-color: #353535;
    display: flex;
  }

  &__cart::before{
    margin-right: 14px;
  }

  &__cart::after{
    margin-left: 7px;
  }*/

  &__quantity{
    padding-left: 13px;
  }

  &__menu {
    position: absolute;
    top: 57px;
    left: 0;
    right: 0;
  }
}