.index-catalog {
  margin-top: 69px;

  a{
    color: #000;
  }

  &__switch {
    display: flex;
    justify-content: center;
    margin: 0 -36px;
  }

  &__tab {
    &.active {
      .index-catalog__tab-text {
        color: $primary-color;
        &::after {
          content: '';
          position: absolute;
          height: 3px;
          background-color: $primary-color;
          display: block;
          bottom: 0;
          right: 48px;
          left: 48px;
          transition: all 0.2s ease-out;
        }
      }
    }
  }

  &__tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 36px;

  }

  &__tab-icon {
    position: relative;
  }

  &__tab-text {
    transition: all 0.3s ease-out;
    padding-top: 24px;
    font-size: 27px;
    font-weight: 100;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 3px;
      background-color: $primary-color;
      display: block;
      bottom: 0;
      right: 50%;
      left: 50%;
      transition: all 0.2s ease-out;
    }
  }

  &__wrapper {
    margin: 129px 0;
  }

  &__content {

  }
}