.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0 -20px;
  }

  &__item {

  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 75px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 100;
    color: #FFFFFF;
    &:hover{
      .menu__link-text{
        &::after{
          left: 0;
          right: 0;
          transition: all 0.4s ease;
        }
      }
    }
  }

  &__link-text{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: -1px;
      right: 51%;
      left: 50%;
      height: 1px;
      background-color: #fff;
      transition: all 0.4s linear;
    }
  }
}