.product-card {
  display: flex;
  flex-direction: column;
  z-index: 0;
  padding: 46px;
  position: relative;
  transition: all 0.3s ease-out;

  &:hover{
    transition: all 0.3s ease-out;
    z-index: 15;
    box-shadow: 0px -10px 30px 0px rgba(0, 0, 0, 0.15);;//68
    .product-card__bottom {
      display: block;
      transition: all 0.3s ease-out;
    }
  }

  &__main-link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image-wrapper {

  }

  &__image {
    max-height: 203px;
    max-width: 153px;
  }

  &__name {
    padding-top: 36px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  &__description {
    padding-top: 12px;
    text-align: center;
  }

  &__bottom {
    position: absolute;
    background-color: #FFFFFF;
    display: none;
    top: 100%;
    margin-top: -46px;
    right: 0;
    left: 0;
    padding: 0 46px;
    box-shadow: 0 19px 20px 0 rgba(0, 0, 0, 0.15);
  }

  &__size-container {
    padding-top: 21px;
    display: flex;
    flex-direction: column;
  }

  &__size-title {
    display: flex;
    align-items: center;
    align-self: center;
  }

  &__icon {

  }

  &__size-text {
    padding-left: 14px;
    font-size: 15px;
    font-weight: bold;
  }

  &__line-size {
    padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin: 0 -9px;
  }

  &__size-item {
    //flex: 1 1 16%;
  }

  &__size-link {
    padding: 0 9px;
  }

  &__button {
    transition: all 0.3s ease-out;
    display: flex;
    margin: 19px 25px;
    justify-content: center;
    align-items: center;
  }

  &__button-text {
    padding-right: 14px;
    padding-top: 1px;
  }

  &__button-icon {

  }
}