$grid-columns: 12;
$max-row-width: 1230;
$grid: (
        large: (
                from: 0,
                gutter: 30
        )
);

$body-font-size: 14px;
$font: "MyriadPro", sans-serif;
$h-font: $font;

$header-height: 57px;
$footer-height: 60px;
$menu-height: $header-height;

$t: transparent;

$primary-color: #FFA513;
$alert-color: #b50000;

$default-transition: all 0.4s;

$modal-content-radius: 0;
$modal-content-padding: 0;
$modal-closer-size: 0;
$modal-content-background: $t;

$default-input-height: 34px;