.breadcrumbs-block {
  .breadcrumbs-list {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.2;

    li {
      display: inline-block;
      vertical-align: middle;
      color: #363636;

      a {
        text-decoration: underline;
        color: #363636;
      }

      &.delimiter {
        padding: 1px 4px 0;
        color: #7e7e7e;
      }
    }
  }
}