header {
  height: $header-height;

  .header-inner {
    .header-block {
      height: $header-height;
    }
  }

  $logo-width: 215px;
  $logo-height: 100px;

  .logo {
    height: $header-height;

    img {
      display: inline-block;
      vertical-align: middle;
      width: $logo-width;
      height: $logo-height;
    }
  }
}

.header_black_line{
  background-color: #000000;
}

.header-first-line{
  color: #FFFFFF;
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-phone{
    font-size: 21px;
    position: relative;
  }

  //.phone::before{
  //  content: '';
  //  background-image: url("/static/frontend/images/image-icons/phone_icon.svg");
  //  background-repeat: no-repeat;
  //  background-size: contain;
  //  width: 30px;
  //  height: 30px;
  //  display: block;
  //}

  .header-button{
    flex: 1 1 auto;
    padding-left: 36px;
  }

  .order-call{
    background-color: #000000;
    color: #FFFFFF;
    font-size: 15px;
    padding: 8px 25px;
  }
}