$menu-color: #000;
$menu-color-hover: #000;
$menu-height: 63px;
$menu-background-color: $t;
$menu-background-color-hover: $t;

.main-menu {
  font-size: 16px;
  width: 100%;
  height: $menu-height;
  background-color: $menu-background-color;
  position: relative;

  &>li {
    text-align: center;

    a {
      text-decoration: none;
      display: block;
      line-height: $menu-height;
      color: $menu-color;
    }

    &>ul {
      top: $menu-height;
      display: none;
      position: absolute;
      z-index: 100;
      padding: 15px 20px;
      @include box-shadow(0 3px 20px rgba(52,73,94,.17));
      background-color: #fff;

      &:after {
        position: absolute;
        content: '';
        @include triangle(24px, 12px, up, #fff);
        top: -12px;
        left: 30px;
      }

      li {
        display: block;
        float: none;
        font-size: 13px;
        text-align: left;

        a {
          color: #33495d !important;
          line-height: 1.5;
        }

        ul {
          list-style: none;

          li {
            position: relative;
            padding-left: 15px;

            &:before {
              content: '—';
              position: absolute;
              left: 0;
              top: 0px;
            }
          }
        }
      }
    }

    &:hover {
      background-color: $menu-background-color-hover;

      a {
        color: $menu-color-hover;
      }

      &>ul {
        display: block;
      }
    }

    &:last-child {
      &>ul {
        right: 0px;
      }
    }

    &.has-subitems {
      a::after {
        display: inline-block;
        content: "";
        margin-left: 5px;
        width: 0;
        height: 0;
        border-left: 3px dotted transparent;
        border-right: 3px dotted transparent;
        border-top: 5px solid $menu-color;
        position: relative;
        top: -1px;
      }

      &>ul {
        li {
          a::after {
            display: none;
          }
        }
      }
    }
  }
}

.main-menu.tabled {
  display: table;

  &>li {
    display: table-cell;

    a {
      height: 100%;
    }
  }
}

.main-menu.justify {
  list-style-type: none;
  text-align: justify;

  &>li {
    display: inline-block;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}